    <div class="container spacer">

           <div class="card">
             <div class="card text-white bg-primary mb-3 card-header">Liste des contacts</div>
             <div class="card-body">
               <div class="form-group">
                 <label>Mot clé:</label>
                    <input type="text" [(ngModel)]="motCle">
                 <button class="btn btn-primary" (click)="chercher()">Chercher</button>
               </div>

      <div class="row">
        <div *ngFor="let c of pageContacts?.content" class="col-md-3">
          <div class="card card-columns">
            <div class="card-img-top" >
              <img  src="../../assets/images/{{c.photo}}" width="80" height="80">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{c.nom}}</h5>
              <a  class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">More information</a>

              <!-- Modal -->
              <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End  Modal -->
            </div>

          </div>
        </div>
      </div>
               <div class="container" *ngIf="mode==1">
                 <ngb-pagination [(collectionSize)]="collectSize" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (click)="gotoPage(page)" ></ngb-pagination>
               </div>
             </div>
           </div>




        </div>

