<div class="container spacer">
  <div class="row">
    <div class="col">

       <div class="card">
         <div class="card text-white bg-primary mb-3 card-header">Liste des contacts</div>
         <div class="card-body">
           <div class="form-group">
             <label>Mot clé:</label>
                <input type="text" [(ngModel)]="motCle">
             <button class="btn btn-primary" (click)="chercher()">Chercher</button>
           </div>
           <table class="table table-striped">
             <tr>
               <th>ID</th><th>Nom</th><th>Prénom</th><th>Email</th>
               <th></th>             </tr>
             <tr *ngFor="let c of pageContacts?.content">
               <td>{{c.id}}</td>
               <td>{{c.nom}}</td>
               <td>{{c.prenom}}</td>
               <td>{{c.email}}</td>
               <td><img src="../../assets/images/{{c.photo}}" height="50" width="50"></td>
               <td>
                 <a (click)="onEditContact(c.id)" class="clickable" >Edit</a>
               </td>
               <td>
                 <a (click)="onDeleteContact(c)" class="clickable" >Delete</a>
               </td>
             </tr>
           </table>
           <div class="container" *ngIf="mode==1">
             <ngb-pagination [(collectionSize)]="collectSize" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (click)="gotoPage(page)" ></ngb-pagination>
           </div>
         </div>
       </div>
    </div>
  </div>

</div>
