<div class="container spacer">
  <div class="row">
    <div class="col">

       <div class="card">
         <div class="card-header">Liste des contacts</div>
         <div class="card-body">
           <div class="form-group">
             <label>Mot clé:</label>
                <input type="text" [(ngModel)]="motCle">
             <button class="btn btn-primary" (click)="chercher()">Chercher</button>
           </div>
           <table class="table table-striped">
             <tr>
               <th>ID</th><th>Nom</th><th>Prénom</th><th>Email</th>
             </tr>
             <tr *ngFor="let c of pageContacts?.content">
               <td>{{c.id}}</td>
               <td>{{c.nom}}</td>
               <td>{{c.prenom}}</td>
               <td>{{c.email}}</td>
             </tr>
           </table>
           <div class="container">
             <p>Restricted size with rotation and no ellipses:</p>
             <ngb-pagination [(collectionSize)]="collectSize" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (click)="gotoPage(page)" ></ngb-pagination>
             <hr>
             <pre>Current page: {{page}}</pre>
           </div>
         </div>
       </div>

    </div>
  </div>

</div>
